/* Movimientos */
.movimientos {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
} 

.table{
    font-size: 12px;
    margin-top: 80px;
}
.tableStock {
    font-size: 12px;
    margin-top: 80px;
    color: white;
}
.tableCompras {
    font-size: 12px;
    margin-top: 80px;
    color: white;
}
.tableVentas {
    font-size: 12px;
    margin-top: 80px;
    color: white;
}


.colBlanca{
    background:none;
    text-align: right;
}
.colVerde{
    background:none;
    text-align: right;
    color: white;
}
.colRoja{
    text-align: right;
}

.row{
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    width: 2000px;
}
.col{
    outline: solid red;
}