/* Movimientos */
.table{
    font-size: 12px;
    vertical-align: middle;
    margin-top: 80px;
}

.colBlanca{
    background:none;
    text-align: right;
}
.colVerde{
    background:none;
    text-align: right;
    color: white;
}
.colRoja{
    text-align: right;
}