/* Movimientos */
.table{
    font-size: 12px;
    margin-top: 80px;
}
.tableStock {
    font-size: 12px;
    margin-top: 80px;
    color: white;
}
.tableCompras {
    font-size: 12px;
    margin-top: 80px;
    color: white;
}
.tableVentas {
    font-size: 12px;
    margin-top: 80px;
    color: white;
}


.colBlanca{
    background:none;
    text-align: right;
}
.colVerde{
    background:none;
    text-align: right;
    color: white;
}
.colRoja{
    text-align: right;
}
